<html>
<body style="font: 14px Arial, Helvetica, sans-serif; background-color: #f5f5fa; padding: 25px 0 25px 0;">
  <div style="margin: 0 auto; padding: 25px; background-color: #ffffff; width: 580px; border-radius: 15px;">

    <h1 style="text-align: center; font-size: 26px">Estacionamento acabando</h1>
    <p>Olá ${evento.nomeCondutor}, só pra lembrar que seu estacionamento para o veículo de placa <b>${evento.placaVeiculo}</b> irá expirar em 15 minutos</p>
    <p>Acesse o aplicativo para extender o período ou ignore esta mensagem se não precisar de mais tempo.</p>

  </div>
</body>
</html>